= simple_form_for(product, html: { class: 'form-inline' }) do |form|
  / = render 'shared/error_messages'
  / = render "shared/errors", resource: product
  .field

    = render :partial => "products/title", :locals => { :form => form }
  .field

    = render :partial => "products/price", :locals => { :form => form }
  .actions
    = form.submit
